= render 'shared/topheader'
= render 'shared/slider'
= render 'shared/search'

= render 'shared/topCategoryTitle'

.main.clearfix
  .sub.clearfix
    #ladyies
      = render 'shared/ladyies_itemsBox', collection: @ladies